{% extends 'base.html' %}

{% block title %}
About - Uticon
{% endblock %}

{% block header_class %}
header-v4 how-shadow1
{% endblock %}

{% block content %}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{{ url_for('static', filename= 'images/bg-01.jpg') }}');">
	<h2 class="ltext-105 cl0 txt-center">
		About
	</h2>
</section>	


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Who are we?
					</h3>

					<p class="stext-113 cl6 p-b-26">
						Uticon is a platform for people to browse all products sold on <b>Walmart</b> and get recommendation based on what you have searched on this platform. Get more personalized shopping experience and let our smart system learn to recommend which products suits you based on your interest.
					</p>

					<p class="stext-113 cl6 p-b-26">
						HAPPY SHOPPING! :)
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="{{ url_for('static', filename= 'images/about-01.jpg') }}" alt="IMG">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Our Story
					</h3>

					<p class="stext-113 cl6 p-b-26">
						We are a team consisting of five people trying to learn how to implement Natural Language Processing theory to create a more personalized shopping experience. With some learning and hard work, Uticon was born to ensure your best experience on shopping at <b>Walmart</b>.
					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							We will always try to pursue perfection and your satisfaction on shopping at Walmart. Happy Shopping!
						</p>

						<span class="stext-111 cl8">
							- Hendra Antonius (CEO of Uticon)
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="{{ url_for('static', filename= 'images/about-02.jpg') }}" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
	
{% endblock %}

{% block about_active %}
active-menu
{% endblock %}