{% extends 'base.html' %}

{% block title %}
Home - Uticon
{% endblock %}

{% block content %}
<!-- Slider -->
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1" style="background-image: url({{ url_for('static', filename= 'images/slide-01.jpg') }})">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								Up Your Shopping Experience
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								MEET UTICON
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
							<a href="{{url_for('about')}}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								About Us
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url({{ url_for('static', filename= 'images/slide-02.jpg') }});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								Summer Sale
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								Big Discount
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
							<a href="{{url_for('products')}}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url({{ url_for('static', filename= 'images/slide-03.jpg') }});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								Open All Day
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								We are here for You
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
							<a href="{{url_for('products')}}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="{{ url_for('static', filename= 'images/banner-01.jpg') }}" alt="IMG-BANNER">

					<a href="{{url_for('products')}}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Foods
							</span>

							<span class="block1-info stext-102 trans-04">
								Fresh from the oven
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="{{ url_for('static', filename= 'images/banner-02.jpg') }}" alt="IMG-BANNER">

					<a href="{{url_for('products')}}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Sports
							</span>

							<span class="block1-info stext-102 trans-04">
								Up Your Game
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="{{ url_for('static', filename= 'images/banner-03.jpg') }}" alt="IMG-BANNER">

					<a href="{{url_for('products')}}" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Kids
							</span>

							<span class="block1-info stext-102 trans-04">
								New Arrival
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Product -->
<section class="sec-product bg0 p-t-100 p-b-50">
	<div class="container">
		<div class="p-b-40">
			<h3 class="ltext-105 cl5 txt-center respon1">
				Based on Your Interest
			</h3>
		</div>

		<!-- Tab01 -->
		<div class="tab01">

			<!-- Tab panes -->
			<div class="tab-content p-t-10">
				<!-- - -->
				<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
					<!-- Slide2 -->
					<div class="wrap-slick2">
						<div class="slick2">
							{% for data in result %}
							<div class="col-sm-4 col-md-4 col-lg-3 p-b-35">
								<div class="product__item">
									<!-- <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename= 'images/product-02.jpg') }}"> -->
									{% if data[9] != 'no' %}
										<div class="product__item__pic set-bg" data-setbg="{{ data[9] }}">
									{% else %}
										<div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename= 'images/no-image.jpg') }}">
									{% endif %}
										<ul class="product__hover">
											<li><a href="{{ data[1] }}" target="_blank"><img src="{{ url_for('static', filename= 'images/icon/cart.png') }}" alt=""><span>Shop Now</span></a></li>
											<li><a href="#modalDetail" onclick="getDetail('{{data[1]}}', '{{data[2]}}', '{{data[3]}}', '{{data[4]}}', '{{data[5]}}', '{{data[6]}}', '{{data[7]}}', '{{data[9]}}')" class="js-show-modal1" id="modalProduct"><img src="{{ url_for('static', filename= 'images/icon/search.png') }}" alt=""><span>Information</span></a></li>
										</ul>
									</div>
									<div class="product__item__text">
										<h6>{{ data[2] }}</h6>
										<a href="/detail/{{ data[0] }}" class="add-cart" style="line-height: 1;">{{ data[2] }}</a>
										<br>
										{% if data[4] != data[5] %}
											<h5><s>${{ data[4] }}</s></h5>
										{% endif %}
										<h5>${{ data[5] }}</h5>
										<div class="product__color__select">
											<label for="pc-4">
												<input type="radio" id="pc-4">
											</label>
											<label class="active black" for="pc-5">
												<input type="radio" id="pc-5">
											</label>
											<label class="grey" for="pc-6">
												<input type="radio" id="pc-6">
											</label>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="categories spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="categories__text">
					<h2>New Arrival <br /> <span>Sauce Bottle</span> <br /> Big Sale</h2>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="categories__hot__deal">
					<img src="{{ url_for('static', filename= 'images/product-sale.png') }}" alt="">
					<div class="hot__deal__sticker">
						<span>Sale Price</span>
						<h5>$6.36</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-4 offset-lg-1">
				<div class="categories__deal__countdown">
					<span>Deal Of The Month</span>
					<h2>(3 Pack) Kraft Asian Sesame Lite Dressing, 16 Fl Oz Bottle</h2>
					<div class="categories__deal__countdown__timer" id="countdown">
						<div class="cd-item">
							<span>3</span>
							<p>Days</p>
						</div>
						<div class="cd-item">
							<span>1</span>
							<p>Hours</p>
						</div>
						<div class="cd-item">
							<span>50</span>
							<p>Minutes</p>
						</div>
						<div class="cd-item">
							<span>18</span>
							<p>Seconds</p>
						</div>
					</div>
					<a href="{{url_for('products')}}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Shop now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="sec-product bg0 p-b-100 p-t-100">
	<div class="container">
		<div class="p-b-40">
			<h3 class="ltext-105 cl5 txt-center respon1">
				Some of Our Products
			</h3>
		</div>
		<div class="row">
			{% for data in random %}
				<div class="col-sm-4 col-md-4 col-lg-3 p-b-35">
					<div class="product__item">
						<!-- <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename= 'images/product-02.jpg') }}"> -->
						{% if data[9] != 'no' %}
							<div class="product__item__pic set-bg" data-setbg="{{ data[9] }}">
						{% else %}
							<div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename= 'images/no-image.jpg') }}">
						{% endif %}
							<ul class="product__hover">
								<li><a href="{{ data[1] }}" target="_blank"><img src="{{ url_for('static', filename= 'images/icon/cart.png')  }}" alt=""><span>Shop Now</span></a></li>
								<li><a href="#modalDetail" onclick="getDetail('{{data[1]}}', '{{data[2]}}', '{{data[3]}}', '{{data[4]}}', '{{data[5]}}', '{{data[6]}}', '{{data[7]}}', '{{data[9]}}')" class="trans-04 js-show-modal1"><img src="{{ url_for('static', filename= 'images/icon/search.png') }}" alt=""><span>Information</span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h6>{{ data[2] }}</h6>
							<a href="/detail/{{ data[0] }}" class="add-cart" style="line-height: 1;">{{ data[2] }}</a>
							<br>
							{% if data[4] != data[5] %}
								<h5><s>${{ data[4] }}</s></h5>
							{% endif %}
							<h5>${{ data[5] }}</h5>
							<div class="product__color__select">
								<label for="pc-4">
									<input type="radio" id="pc-4">
								</label>
								<label class="active black" for="pc-5">
									<input type="radio" id="pc-5">
								</label>
								<label class="grey" for="pc-6">
									<input type="radio" id="pc-6">
								</label>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<p style="text-align:center;"><a href="{{url_for('products')}}" style="margin:auto; width:100px;" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">Shop now</a></p>

	<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20" id="modalDetail">
	<div class="overlay-modal1 js-hide-modal1"></div>

	<div class="container">
		<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
			<button class="how-pos3 hov3 trans-04 js-hide-modal1">
				<img src="{{ url_for('static', filename= 'images/icons/icon-close.png') }}" alt="CLOSE">
			</button>

			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-w" style="justify-content:center;">
							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14" id="productName"></h4>

						<span class="mtext-106 cl2" id="productPrice"></span>

						<p class="stext-102 cl3 p-t-23" id="productDescription"></p>
						
						<p class="p-t-23" style="margin:0;"><b>Brand</b></p>
						<p class="stext-102 cl3 p-t-5" id="productBrand"></p>

						<p style="margin:0;"><b>Category</b></p>
						<p class="stext-102 cl3 p-t-5" id="productCategory"></p>
	
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										<a href="" target="_blank" id="productUrl" style="color:white;">
											Shop Now
										</a>
									</button>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>


{% endblock %}

{% block javascript_extra %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/modal.js') }}" ></script>
{% endblock %}

{% block home_active %}
active-menu
{% endblock %}