{% extends 'base.html' %}

{% block title %}
Products - Uticon
{% endblock %}

{% block header_class %}
header-v4 how-shadow1
{% endblock %}

{% block content %}
<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="{{url_for('index')}}" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Products
		</span>
	</div>
</div>
<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52" style="justify-content:end;">
			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>
			
			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex">
					<form method="get" style="display: flex; padding: 10px 20px; flex-direction: row; width: 100%">
						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search" placeholder="Search">
						<button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search" style="font-size: 25px"></i>
						</button>
					</form>
				</div>	
			</div>
		</div>

		{% if search != "" %}
		<p class="p-t-20 p-b-20">You searched for <b>"{{search}}"</b> resulting in <b>{{count}}</b> similar products</p>
		{% endif %}

		<div class="row">
			{% for data in result %}
				<div class="col-sm-4 col-md-4 col-lg-3 p-b-35">
					<div class="product__item">
						<!-- <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename= 'images/product-02.jpg') }}"> -->
						{% if data[9] != 'no' %}
							<div class="product__item__pic set-bg" data-setbg="{{ data[9] }}">
						{% else %}
							<div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename= 'images/no-image.jpg') }}">
						{% endif %}
							<ul class="product__hover">
								<li><a href="{{ data[1] }}" target="_blank"><img src="{{ url_for('static', filename= 'images/icon/cart.png')  }}" alt=""><span>Shop Now</span></a></li>
								<li><a href="#modalDetail" onclick="getDetail('{{data[1]}}', '{{data[2]}}', '{{data[3]}}', '{{data[4]}}', '{{data[5]}}', '{{data[6]}}', '{{data[7]}}', '{{data[9]}}')" class="trans-04 js-show-modal1"><img src="{{ url_for('static', filename= 'images/icon/search.png') }}" alt=""><span>Information</span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h6>{{ data[2] }}</h6>
							<a href="/detail/{{ data[0] }}" class="add-cart" style="line-height: 1;">{{ data[2] }}</a>
							<br>
							{% if data[4] != data[5] %}
								<h5><s>${{ data[4] }}</s></h5>
							{% endif %}
							<h5>${{ data[5] }}</h5>
							<div class="product__color__select">
								<label for="pc-4">
									<input type="radio" id="pc-4">
								</label>
								<label class="active black" for="pc-5">
									<input type="radio" id="pc-5">
								</label>
								<label class="grey" for="pc-6">
									<input type="radio" id="pc-6">
								</label>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<!-- Pagination -->
		{% if use_pagination == 1 %}
			<div class="flex-c-m flex-w w-full p-t-38">
				{% if first_page >= 10 %}
					{% set current_page = page %}
					<a href="{{ url_for('products') }}/?page=1" class="flex-c-m how-pagination1 trans-04 m-all-7 {% if current_page % 10 == 0 and page == 1%}active-pagination1{% endif %}">
						1
					</a>
					
					...

					<a href="{{ url_for('products') }}/?page={{ page-1 }}" class="flex-c-m how-pagination1 trans-04 m-all-7">
						<img src="{{ url_for('static', filename= 'images/icon/chevron-left.png') }}" style="width: 10px" alt="">
					</a>
				{% endif %}

				{% for p in range(first_page, max_page+1) %}
					{% if p == page %}
						<a href="{{ url_for('products') }}/?page={{ p }}" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
							{{ p }}
						</a>
					{% else %}
						<a href="{{ url_for('products') }}/?page={{ p }}" class="flex-c-m how-pagination1 trans-04 m-all-7">
							{{ p }}
						</a>
					{% endif %}
				{% endfor %}

				{% if max_page < number_page %}
					{% if max_page < number_page %}
						<a href="{{ url_for('products') }}/?page={{ page+1 }}" class="flex-c-m how-pagination1 trans-04 m-all-7 {% if page == number_page %}active-pagination1{% endif %}">
							<img src="{{ url_for('static', filename= 'images/icon/chevron-right.png') }}" style="width: 10px" alt="">
						</a>
					{% endif %}

					...

					<a href="{{ url_for('products') }}/?page={{ number_page }}" class="flex-c-m how-pagination1 trans-04 m-all-7 {% if page == number_page %}active-pagination1{% endif %}">
						{{ number_page }}
					</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>

<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20" id="modalDetail">
	<div class="overlay-modal1 js-hide-modal1"></div>

	<div class="container">
		<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
			<button class="how-pos3 hov3 trans-04 js-hide-modal1">
				<img src="{{ url_for('static', filename= 'images/icons/icon-close.png') }}" alt="CLOSE">
			</button>

			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-w" style="justify-content:center;">
							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14" id="productName"></h4>

						<span class="mtext-106 cl2" id="productPrice"></span>

						<p class="stext-102 cl3 p-t-23" id="productDescription"></p>
						
						<p class="p-t-23" style="margin:0;"><b>Brand</b></p>
						<p class="stext-102 cl3 p-t-5" id="productBrand"></p>

						<p style="margin:0;"><b>Category</b></p>
						<p class="stext-102 cl3 p-t-5" id="productCategory"></p>
	
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										<a href="" target="_blank" id="productUrl" style="color:white;">
											Shop Now
										</a>
									</button>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript_extra %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/modal.js') }}" ></script>
{% endblock %}

{% block product_active %}
active-menu
{% endblock %}