{% extends 'base.html' %}

{% block title %}
Products Detail - Uticon
{% endblock %}

{% block header_class %}
header-v4 how-shadow1
{% endblock %}

{% block content %}
<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="{{url_for('index')}}" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<a href="{{url_for('products')}}" class="stext-109 cl8 hov-cl1 trans-04">
			Products
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			{{ result[0][2] }}
		</span>
	</div>
</div>
	

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

						<div class="slick3 gallery-lb">
							{% if result[0][9] != 'no' %}
							<div class="item-slick3" data-thumb="{{ result[0][9] }}">
								<div class="wrap-pic-w pos-relative">							
									<img src="{{ result[0][9] }}" alt="IMG-PRODUCT">	
									
									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ result[0][9] }}">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>
							{% else %}
							<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/no-image.jpg') }}">
								<div class="wrap-pic-w pos-relative">							
									<img src="{{ url_for('static', filename= 'images/no-image.jpg') }}" alt="IMG-PRODUCT">
									
									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ url_for('static', filename= 'images/no-image.jpg') }}">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>
							
							{% endif %}
						</div>
					</div>
				</div>
			</div>
				
			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						{{ result[0][2] }}
						
					</h4>

					{% if result[0][4] != result[0][5] %}
					<span class="mtext-106 cl2"><s>${{ result[0][4] }}</s></span> 
					{% endif %}
					<span class="mtext-106 cl2">
						<span class="mtext-106 cl2">${{ result[0][5] }}</span>
					</span>
				</div>
				<div class="p-t-120">
					<div class="flex-w flex-r-m p-b-10">
						<div class="size-204 flex-w flex-m respon6-next">
							<a href="{{ result[0][1] }}" target="_blank"><button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
								Shop Now
							</button>
							</a>
						</div>
					</div>	
				</div>
			</div>
		</div>

		<div class="bor10 m-t-50 p-t-43 p-b-40">
			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item p-b-10">
						<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
					</li>

					<li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-43">
					<!-- - -->
					<div class="tab-pane fade show active" id="description" role="tabpanel">
						<div class="how-pos2 p-lr-15-md">
							<p class="stext-102 cl6">
								{{ result[0][3] }}
							</p>
						</div>
					</div>

					<!-- - -->
					<div class="tab-pane fade" id="information" role="tabpanel">
						<div class="row">
							<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
								<ul class="p-lr-28 p-lr-15-sm">
									<li class="flex-w flex-t p-b-7">
										<span class="stext-102 cl3 size-205">
											Brand
										</span>

										<span class="stext-102 cl6 size-206">
											{{ result[0][6] }}
										</span>
									</li>

									<li class="flex-w flex-t p-b-7">
										<span class="stext-102 cl3 size-205">
											Category
										</span>

										<span class="stext-102 cl6 size-206">
											{{ result[0][7] }}
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">

		<span class="stext-107 cl6 p-lr-25">
			Categories: {{ result[0][7] }}
		</span>
	</div>
</section>


<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-105">
	<div class="container">
		<div class="p-b-45">
			<h3 class="ltext-106 cl5 txt-center">
				Related Products
			</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2">
			<div class="slick2">
				{% for data in similar %}
					{% if data[0] != result[0][0] %}
					<div class="col-sm-4 col-md-4 col-lg-3 p-b-35">
						<div class="product__item">
							<!-- <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename= 'images/product-02.jpg') }}"> -->
							{% if data[9] != 'no' %}
								<div class="product__item__pic set-bg" data-setbg="{{ data[9] }}">
							{% else %}
								<div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename= 'images/no-image.jpg') }}">
							{% endif %}
								<ul class="product__hover">
									<li><a href="{{ data[1] }}" target="_blank"><img src="{{ url_for('static', filename= 'images/icon/cart.png')  }}" alt=""><span>Shop Now</span></a></li>
									<li><a href="#modalDetail" onclick="getDetail('{{data[1]}}', '{{ data[2] }}', '{{ data[3] }}', '{{ data[4] }}', '{{ data[5] }}', '{{ data[6] }}', '{{ data[7] }}', '{{ data[9] }}')" class="trans-04 js-show-modal1"><img src="{{ url_for('static', filename= 'images/icon/search.png') }}" alt=""><span>Information</span></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6>{{ data[2] }}</h6>
								<a href="/detail/{{ data[0] }}" class="add-cart" style="line-height: 1;">{{ data[2] }}</a>
								<br>
								{% if data[4] != data[5] %}
									<h5><s>${{ data[4] }}</s></h5>
								{% endif %}
								<h5>${{ data[5] }}</h5>
								<div class="product__color__select">
									<label for="pc-4">
										<input type="radio" id="pc-4">
									</label>
									<label class="active black" for="pc-5">
										<input type="radio" id="pc-5">
									</label>
									<label class="grey" for="pc-6">
										<input type="radio" id="pc-6">
									</label>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20" id="modalDetail">
	<div class="overlay-modal1 js-hide-modal1"></div>

	<div class="container">
		<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
			<button class="how-pos3 hov3 trans-04 js-hide-modal1">
				<img src="{{ url_for('static', filename= 'images/icons/icon-close.png') }}" alt="CLOSE">
			</button>

			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-w" style="justify-content:center;">
							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-01.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-02.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}" alt="IMG-PRODUCT" class="imgModal">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04 hrefModal" href="{{ url_for('static', filename= 'images/product-detail-03.jpg') }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14" id="productName"></h4>

						<span class="mtext-106 cl2" id="productPrice"></span>

						<p class="stext-102 cl3 p-t-23" id="productDescription"></p>
						
						<p class="p-t-23" style="margin:0;"><b>Brand</b></p>
						<p class="stext-102 cl3 p-t-5" id="productBrand"></p>

						<p style="margin:0;"><b>Category</b></p>
						<p class="stext-102 cl3 p-t-5" id="productCategory"></p>
	
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										<a href="" target="_blank" id="productUrl" style="color:white;">
											Shop Now
										</a>
									</button>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript_extra %}
<script type = "text/javascript" src = "{{ url_for('static', filename = 'js/modal.js') }}" ></script>
{% endblock %}

{% block product_active %}
active-menu
{% endblock %}